{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Tecnicos{% endblock %}


{% block cabecera %}
    <h1>Lista Tecnicos</h1>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    
    {% if perms.examen.delete_tecnico %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}


    {% include "models/tecnico/_item_tecnico.html" %}


{% endblock %}