{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Tecnicos{% endblock %}


{% block cabecera %}
    <h1>Lista Tecnicos</h1>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    
    {% if perms.examen.delete_tecnico %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}

    <div class="d-flex flex-wrap align-content-center justify-content-center gap-4">
        {% for Tecnico_Mostrar in Tecnicos_Mostrar %}
            {% include "models/tecnico/_item_tecnico.html" %}
        {% empty %}
            <h2>No se encontraron tecnicos</h2>
        {% endfor %}
    </div>

{% endblock %}