{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Home{% endblock %}


{% block cabecera %}
    <h1>Examen Formularios y Sesiones Django.</h1>
    <h3>Manuel Avecilla - 2ºDAW</h3>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    
    <h5>Menu Enlaces</h5>
    <br>

    <p>(modelo) - CRUD</p>
    <ul>
        <li><a href="">(modelo) - CREATE</a></li>
        <li><a href="">(modelo) - READ - Lista</a></li>
        <li><a href="">(modelo) - READ - Filtro avanzado</a></li>
        <li><a href="">(modelo) - UPDATE</a></li>
        <li><a href="">(modelo) - DELETE</a></li>
    </ul>

    <br>
    <hr>

    <p>URLs</p>
    <ul>
        <li><a href="{% url 'usuarios_listar' %}">Lista Usuarios</a></li>
        <li><a href="{% url 'tecnicos_listar' %}">Lista Tecnicos</a></li>
    </ul>


{% endblock %}

